{% extends 'index.html' %}

{% block title %} {% endblock %}

{% block content %}
<div class="container">
<h1>Currency Converter</h1>
{%for category, msg in get_flashed_messages(with_categories=true) %}
    <p class="alert alert-{{category}}">{{msg}}</p>
{% endfor %}
    <form action="/currencycodes" method="POST">
        <div class="form-group col-7">
            <label for="from">Converting from:</label>
            <input type="text" name="from_currency" id="from" class="form-control" placeholder="Please input a three letter currency code" required autofocus>
        </div>
        <div class="form-group col-7">
        <label for="to">Converting to:</label>
            <input type="text" name="to_currency" id="to" class="form-control" placeholder="Please input a three letter currency code" required>    
        </div>  
        <div class="form-group col-7">
            <label for="amount">Amount:</label>
            <input type="text" id="amount" name="amount" class="form-control" required>   
        </div> 
        <button class="btn btn-primary">Convert</button>
    </form>
    <h2>Supported Currencies:</h2>
    <ul>
        {% for curr in currencies %}
            <li>{{curr}}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}